:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(247, 69, 46);
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 46px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.334%;
}

.text-bold {
    font-weight: bold;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: FadeIn linear 0.5;
}

.modal__body {
    margin: auto;
    z-index: 1;
    border-radius: 3px;
}

.btn {
    min-width: 142px;
    height: 36px;
    font-size: 1.6rem;
    border: none;
    border-radius: 3px;
    background-color: var(--white-color)
}

.btn.btn--normal:hover {
    background-color: rgb(224, 220, 220);
    cursor: pointer
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
}

.btn--with-icon {
    text-decoration: none;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}