.header {
    height: var(--header-height);
    background-color: var(--primary-color)
}

.header__navbar {
    height: var(--header-navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    margin: 0 8px;
    display: inline-block;
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__navbar-user {
    display: flex;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.header__navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: bold;
}

.header__navbar-user-list {
    width: 160px;
    background-color: var(--white-color);
    padding: 0;
    position: absolute;
    top: 140%;
    right: 0;
    z-index: 1;
    display: none;
    border-radius: 3px;
    box-shadow: 0 0 6px rgb(211, 210, 210);
}

.header__navbar-user:hover .header__navbar-user-list {
    display: block;
}

.header__navbar-user-list::after {
    content: "";
    display: block;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -26px;
    right: 20px;
    z-index: -1;
}

.header__navbar-user-items {
    height: 40px;
    color: var(--text-color);
    list-style: none;
    width: 100%;
    padding-left: 8px;
    line-height: 40px;
}

.header__navbar-user-items:hover {
    background-color: #dbd6d6
}

.header__navbar-item-link {
    font-size: 1.6rem;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    ;
}

.navbar--saparate {
    padding-right: 16px;
    border-right: 1px solid;
}

.header__store {
    position: relative;
}

.header__store:hover .qr-code {
    display: block;
    animation: FadeIn ease 0.5s
}

.qr-code {
    width: 160px;
    position: absolute;
    top: 120%;
    display: none;
    border-radius: 2px;
}

.qr-code::before {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 32px;
    content: "";
    display: block;
}

.qr-code__img {
    width: 100%;
}

.qr-code--link {
    width: 100%;
    display: flex;
}

.qr-code--link-ggplay,
.qr-code--link-appstore {
    width: 80px;
}

.header__navbar-notification {
    position: relative;
}

.header__notify {
    position: absolute;
    width: 400px;
    top: 150%;
    right: 0;
    border: 2px solid #fff;
    background: rgb(236, 235, 235);
    will-change: opacity, transform;
    display: none;
    z-index: 4;
}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    position: absolute;
    top: -31px;
    right: 0px;
}

.header__notify::after {
    width: 90px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: 0;
    content: "";
}

@keyframes animationGrowth {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.header__navbar-notification:hover .header__notify {
    display: block;
    animation: animationGrowth ease-in .2s;
    transform-origin: 90% 0;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: text
}

.header__notify-header p {
    color: #666;
    margin: 0 0 0 12px;
    font-size: 1.4 rem;
    line-height: 40px;
    font-weight: 600;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: rgb(216, 193, 193);
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    margin: 15px 0;
}

.header__notify-img {
    width: 70px;
    object-fit: contain;
    margin-left: 30px
}

.header__notify-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.header__notify-name {
    color: rgb(61, 57, 57);
    font-weight: 600
}

.header__notify-discription {
    color: rgb(155, 143, 143);
    font-size: 1.2rem;
}

.header__notify-footer {
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    padding: 4px 16px;
}

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    display: none;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    color: var(--text-color);
    font-size: 2.4rem;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__switch-btn {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    font-size: 1.8rem
}

.auth-form__form {}

.auth-form__group {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__group {}

.auth-form__aside {
    margin-top: 24px;
}

.auth-form__policy-text {
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end
}

.auth-form__social {
    padding-top: 30px;
    padding-bottom: 16px;
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: space-around
}

.auth-form__controls-back {
    margin-right: 16px;
}

.btn--with-icon--fb {
    background-color: #1877f2;
    color: #fff;
}

.btn--with-icon--gg {}


/* Login */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem
}

.auth-form__help-separate {
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 16px;
}

.auth-form__help-forgot {
    color: var(--text-color);
}


/* .modal.active {
    display: flex;
} */

.modal.active {
    display: flex;
}

.auth-form.active {
    display: block;
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    height: 100%;
    flex: 1;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0 16px;
}

.header__search-history {
    top: calc(100% + 4px);
    left: 0;
    position: absolute;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    font-size: 1.6rem;
    /* border: 1px solid var(--border-color); */
    border-radius: 3px;
    display: none;
    box-shadow: 0px 0px 10px #666;
    z-index: 2;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history-heading {
    margin: 8px 12px 0 12px;
    height: 30px;
    color: #999;
}

.header__search-history-list {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    margin: 0;
}

.header__search-history-items {
    height: 38px;
    padding: 0 12px;
    line-height: 38px;
}

.header__search-history-items:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221)
}

.header__search-history-items a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.header__search-select {
    display: flex;
    border-left: 2px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    z-index: 3
}

.header__search-select-label {
    font-size: 1.6rem;
}

.header__search-select-icon {
    font-size: 1.6rem;
    margin: 0 16px;
    display: flex;
    position: relative;
    top: 8px
}

.header__search-btn-search {
    width: 80px;
    height: 36px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    border-radius: 3px;
}

.header__search-btn-search:hover {
    background-color: rgb(255 97 76);
    cursor: pointer;
}

.header__search-btn-search-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    padding: 0;
    display: none;
}

.header__search-option::before {
    width: 140px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    top: -10px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-items {
    display: flex;
    background: var(--white-color);
    height: 40px;
    width: 145px;
    border-radius: 3px;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 2px #CCC;
}

.header__search-option-items:hover {
    background-color: rgb(231, 218, 218);
    cursor: pointer;
}

.header__search-option-items span {
    font-size: 1.6rem;
}

.header__search-option-items i {
    font-size: 1.6rem;
    display: none;
}

.header__search-option-items--active i {
    display: inline-block;
}

.header__cart {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.header__cart-wrap {
    position: relative;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-list--no-cart {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.header__cart-list .header__cart-list-no-cart-msg {
    margin-top: 16px;
    font-size: 1.6rem;
    display: none
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 12px);
    right: -5px;
    box-shadow: 0 0 5px #ccc;
    width: 400px;
    background-color: var(--white-color);
    will-change: opacity, transform;
    animation: animationGrowth ease-in .2s;
    transform-origin: 95% 0;
    display: none;
    flex-direction: column;
    z-index: 3;
}

.header__cart-wrap:hover .header__cart-list {
    display: flex;
    cursor: default;
}

.header__cart-list::before {
    content: "";
    display: block;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    border-width: 15px 20px;
    position: absolute;
    right: 12px;
    top: -24px;
    cursor: pointer;
}

.img-no-cart {
    width: 60%;
    display: none;
}

.header__cart-list--no-cart .img-no-cart,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
}

.header__wrap-notice {
    background-color: var(--white-color);
    position: absolute;
    padding: 2px 4px;
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 30px;
    top: -6px;
    right: 2px;
    border: 2px solid var(--primary-color);
}

.header__cart-icon {
    font-size: 4rem;
    color: var(--white-color);
}

.header__cart-heading {
    font-size: 1.6rem;
    margin: 8px 0 0 12px;
    color: #999;
    display: flex;
    align-items: center;
}

.header__cart-list-item {
    list-style: none;
    padding-left: 0;
    max-height: 60vh;
    overflow-y: auto;
}

.header__cart-items {
    display: flex;
    padding: 12px;
}

.header__cart-items:hover {
    background-color: rgb(233, 233, 233);
}

.header__cart-img {
    width: 40px;
    height: 40px;
    border: 3px solid var(--border-color);
}

.header__cart-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__cart-info-head {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    margin-left: 12px;
}

.header__cart-name {
    margin: 0;
    line-height: 2rem;
    height: 2rem;
    overflow: hidden;
    cursor: text;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__cart-price-wrap {
    color: var(--primary-color);
    cursor: text
}

.header__cart-multiply {
    font-size: 1rem
}

.header__cart-quantity {
    font-size: 1.2rem
}

.header__cart-info-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
}

.header__cart-description {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__cart-remove:hover {
    color: #999;
    cursor: pointer;
}

.header__cart-view-cart {
    align-self: flex-end;
    width: 40px;
    margin: 12px;
}

.header__cart-view-cart:hover {
    opacity: 0.8;
}


/* App container */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
    font-size: 1.4rem
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category-heading {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--text-color);
    padding: 8px 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category-heading__icon {
    font-size: 2rem;
    margin-right: 8px;
}

.category-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 8px;
}

.category-items {
    margin: 0 16px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category-items__link {
    position: relative;
    right: 0;
    color: var(--text-color);
    font-size: 1.6rem;
    text-decoration: none;
    transition: right linear 0.1s;
}

.category-items--active .category-items__link {
    color: var(--primary-color);
}

.category-items--active .category-items__link::before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 5px 10px;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}

.category-items__link:hover {
    /* right: -4px; */
    color: var(--primary-color);
}


/* Home-filter*/

.home-filter {
    display: flex;
    background-color: #ece3e3;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
}

.home-filter__page {
    display: flex;
    font-size: 1.4rem;
    line-height: 36px
}

.home-filter__control {
    display: flex;
    flex: 1;
    margin-left: 24px
}

.select-input {
    z-index: 1;
}

.home-filter__page-num {
    color: var(-text--color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: rgb(162 162 162)
}

.home-filter__page-control {
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}


/* Home product */

.home-product {
    margin-bottom: 50px
}

.home-product-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 2px;
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 0 5px;
    transform: translateY(-2px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
}

.home-product-item__content {
    padding: 15px 5px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem
}

.home-product-item__price-old {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

.home-product-item__price-current {
    color: var(--primary-color);
    margin-left: 10px;
    font-weight: 600;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between
}

.home-product-item__like {}

.home-product-item__liked {}

.home-product-item__like-icon-empty {}

i.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__rating {
    transform: scale(0.8);
    transform-origin: right;
}

.home-product-item__star--gold {
    color: var(--star-gold-color)
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
}

.home-product-item__brand {}

.home-product-item__origin-name {}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::before {
    content: "";
    display: block;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    bottom: -3px;
    position: absolute;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
    font-weight: bold;
}

.home-product-item__favourite i {
    font-size: 1rem;
    color: var(--white-color);
    margin: 0 3px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 35px;
    background-color: rgba(255, 212, 36, 0.6);
    font-size: 1.2rem;
    text-align: center;
    /* line-height: 1.4rem; */
}

.home-product-item__sale-off::after {
    content: "";
    display: block;
    border-width: 0 20px 6px;
    border-color: transparent rgba(255, 212, 36, 0.6);
    border-style: solid;
    position: absolute;
    bottom: -6px;
}

.home-product-item__sale-off-percent {
    color: var(--primary-color);
    font-weight: 600;
}

.home-product-item__sale-off-label {
    font-weight: bold;
    color: var(--white-color);
    font-size: 1.2rem;
}


/*  */